:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196f3;
    --white-color:#ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

address {
    font-style: normal;
}

body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bonner .container,
.bonner-nav,
.bonner-nav .list {
    display: flex;
    align-items: center;
}

.bonner-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 50px;
}

.bonner {
    border-bottom: 1px solid #ECECEC;
}

.logo-link {
    color: #000000;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
}
.bonner-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link.current {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}

.link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    right: 0;
}

.bonner .gap {
    column-gap: 50px;
}

.gap .item .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gap-link:hover,
.gap-link:focus {
    color: var(--accent-color);
}

.bonner-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bonner-link:hover,
.bonner-link:focus {
    color: var(--accent-color);
}

.bonner-icon {
    fill: currentColor;
    margin-right: 10px;
}

.primary {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    background-color: #2F303A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
}

.primary .title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    max-width: 696px;
}

.primary .btn {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary .btn:hover,
.primary .btn:focus {
    background-color: #188CE8; 
}

.feature {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.feature .container .list{
    display: flex;
    gap: 30px;

}

.feature .container  .item {
width: 270px;

}

.item-before::before {
    border-radius: 4px;
    margin-bottom: 30px;
    display: block;
    content: "";
    height: 120px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;

    
}

.item-before:nth-child(1)::before {
background-image: url(../images/antenna.svg);
}

.item-before:nth-child(2)::before {
background-image: url(../images/clock.svg);
}

.item-before:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.item-before:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}
.feature .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature .text {
    font-size: 14px;
    line-height: 1.71;
}

.team .title,
.blosc .title,
.work .title,
.clients .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work {
    padding-bottom: 94px;
}
.work .item {
    width: calc((100%-60px)/3);
}

.work .container .list {
    display: flex;
    column-gap: 30px;
}

.work-container {
    position: relative;
}

.work-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 28px;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

}
/* -------------------TEAM----------------------- */
.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-item {
    width: 270px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    column-gap: 30px;
}
.team .subtitle {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.team .text {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.link-soc {
width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: #AFB1B8;

transition-property: color, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link-soc:hover,
.link-soc:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.icon-soc {
    fill: currentColor;
}

.container-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


/* ------------------CLIENTS------------------- */
.clients {
padding-top: 94px;
padding-bottom: 94px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item {
    width: 170px;
    height: 92px;

}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.clients-item:hover .clients-link,
.clients-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}

/* -----------------PORTFOLIO--------------- */

.blosc {
    padding-top: 94px;
    padding-bottom: 94px;
}

.blosc-list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;

}

.blosc-btn {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    cursor: pointer;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.blosc-btn:hover,
.blosc-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.aside-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.aside-item {
    width: 370px;
}

.blosc-link:hover .blosc-hover-text {
    transform: translateY(0);
}

.blosc-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.blosc-img {
    position: relative;
    overflow: hidden;
    
}

.blosc-hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.blosc-link:hover,
.blosc-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.blosc-descr {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.blosc-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.blosc-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}


.list {
    list-style: none;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ----------------FOOTER---------------------- */


.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-adress {
    margin-right: 70px;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}
.adress-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.color {
    color: rgba(255, 255, 255, 0.6);
}

.footer-icon-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-icon-list {
    display: flex;
    gap: 10px;

}

.footer-icon-item {
    width: 44px;
    height: 44px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--white-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--accent-color);
}

.basement {
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: block;
    margin-bottom: 20px;
}


.box {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}



.box .li {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    display: block;
}


.item-box {
    margin-top: 9px;
}

/* ----------WINDOW---------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms,  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    background-color: var(--white-color);
    top: 50%;
    left: 50%;
    min-height: 581px;
    min-width: 528px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
   padding: 40px;

}

.backdrop.is-hidden .modal {
    transform: translate(50%, 50%) scale(0);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--white-color);
    color: var(--title-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--primary-text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--accent-color);
}

.modal-icon {
    display: flex;
    align-items: center;

}

/* ------------------------FORM---------------------------- */


.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;

}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    outline: none;

}

.form-input:focus {
    border-color: var(--accent-color);
}

.form-input:focus +  .input-icon {
    fill: var(--accent-color);
}

.form-btn {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #188CE8;
}

.input-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

.input-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    cursor: pointer;
    outline: none;
    display: block;
}

.input-comment:focus {
    border-color: var(--accent-color);
}
.input-field {
    margin-bottom: 10px;
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;

}

.user-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 7px;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;

}


.user-link {
    font-size: 14px;
    line-height: 1.71;
    color: #2196F3;
    position: relative;
}

.user-link::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);

}

.user-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
    fill: transparent;
}

.input-check:checked + .user-text span {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.input-check:checked + .user-text .check-icon {
    fill: var(--white-color);
}

.input-check:focus + .user-text span {
    border-color: var(--accent-color);
}


/* -----------------FOTER-FORM------------------- */


.footer-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}


.footer-form-title {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    gap: 12px;
    position: relative;
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    outline: transparent;
    color: var(--white-color);
}

.footer-form-label {
    position: absolute;
    top: 15px;
    left: 16px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    font-size: 16px;
    line-height: 1.87;
    fill: var(--white-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #188CE8;
}