.team__title,
.blosc .title,
.work__title,
.clients__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.feature__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-icon-title {
    color: $white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;

}

.footer-form-title {
    font-size: 14px;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 10px;
}

.primary__title {
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    max-width: 696px;
}

.blosc-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

