$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$btn-hover: #188CE8;
$main-bg-color: #F5F4FA;
$secondary-bg-color: #2f303a;
$main-icon-color: #afb1b8;

$main-font: Roboto;
$secondary-font: Raleway;
$default-font-roboto: sans-serif;
$default-font-raleway: cursive;