.footer {
    background-color: $secondary-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
    & .container {
        display: flex;
        align-items: baseline;
        }
}


.footer-adress {
    margin-right: 70px;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}


.adress-link {
    font-size: 14px;
    line-height: 1.7;
    color: $white-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
        }
}

.color {
    color: rgba(255, 255, 255, 0.6);
}

.footer-icon-list {
    display: flex;
    gap: 10px;

}

.footer-icon-item {
    width: 44px;
    height: 44px;
}

.footer-icon-link {
    @include flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: $white-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        }

}


.basement {
    color: $white-color;
    font-family: $secondary-font, $default-font-roboto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: block;
    margin-bottom: 20px;
}


.box {
    color: $white-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    & .li {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        display: block;
        }
}






.item-box {
    margin-top: 9px;
}