.bonner .container,
.bonner-nav,
.bonner-nav .list {
    display: flex;
    align-items: center;
}

.bonner-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 50px;
}

.bonner {
    border-bottom: 1px solid #ECECEC;
}

.logo-link {
    color: #000000;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.bonner-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link.current {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}

.link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    right: 0;
}

.bonner .gap {
    column-gap: 50px;
}

.gap .item .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gap-link:hover,
.gap-link:focus {
    color: var(--accent-color);
}

.bonner-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bonner-link:hover,
.bonner-link:focus {
    color: var(--accent-color);
}

.bonner-icon {
    fill: currentColor;
    margin-right: 10px;
}