.primary {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-color: #2F303A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
}
